$primaryColor: #14617b;
$secondaryColor: #ae554b;
$fontColor: #333;

$defaultFont: 'Roboto', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$menuColor: #23559F;
$gutter: 16px;

